<?xml version="1.0"?>

<launch>

  <rosparam file="$(find afs_model)/config/controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
    args="joint_state_controller steer_joint_position_controller drive_wheel_joint_velocity_controller"/>

  <node name="motor_controller" pkg="afs_model" type="motor_control_gazebo.py" output="screen"/>

  <node name="odometry" pkg="afs_model" type="odometry_gazebo.py" output="screen"/>

</launch>
