<?xml version="1.0" encoding="utf-8"?>
<robot name="hotbot_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find hotbot)/urdf/hotbot_model.urdf"/>
  <!--xacro:include filename="$(find hotbot_model)/urdf/hotbot_model.gazebo"/>
  <xacro:include filename="$(find hotbot_model)/urdf/_d435.urdf.xacro"/-->

  <!-- <xacro:sensor_d435 name="camera" parent="hotbot_link" topics_ns="camera">
    <origin xyz="0.20 0 0.945125804025293" rpy="0 0 0"/>
  </xacro:sensor_d435> -->

</robot>
