<?xml version="1.0"?>
<launch>
  <node name="micvision_localization" pkg="micvision" type="micvision_localization_node" output="screen">
    <param name="quick_score" value="false"/>
    <param name="robot_frame" value="base_footprint"/>
    <param name="laser_frame" value="lidar_link"/>
  </node>
</launch>
