html {
    font-family: monospace;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border: 2px solid #0096cb;
}

input, select {
    height: 40px;
    width: 200px;
    display: block;
    margin: 10px auto;
}

#infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#info {
    margin: 0px 10px 10px 10px;
    resize: none;
    height: 100%;
    border: 1px solid #0096cb;
}
