<launch>

    <!-- Robot namespace -->
    <arg name="robot_name" default="core0_arm"/>
    <arg name="start_delay_seconds" default="0"/>

    <!-- Launch the example in that namespace -->
    <node name="test_joint_constraints" pkg="core0_arm" type="test_joint_constraints.py" ns="$(arg robot_name)" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' "/>

</launch>
