<?xml version="1.0"?>

<launch>

  <rosparam file="$(find airbot_model)/config/controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
    args="joint_state_controller head_joint_velocity_controller"/>

  <node name="head_joint_controller" pkg="airbot_model" type="head_joint_controller.py"/>

</launch>
